<div class="container">
  <div class="py-4 d-flex">
    <div class="flex-fill">
      <h2 class="m-0">Product Add</h2>
    </div>
    <div>
      <a href="/products/list" class="btn btn-outline-secondary px-4">Cancel</a>
      <button id="submit-product-form" class="btn btn-primary px-4">Save</button>
    </div>
  </div>

  <form id="product-form" class="mt-4">
    <div class="form-group row">
      <label for="sku" class="col-sm-2 col-form-label">SKU</label>
      <div class="col-sm-10">
        <input type="text" id="sku" name="sku" class="form-control" required>
      </div>
    </div>

    <div class="form-group row mt-4">
      <label for="name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" id="name" name="name" class="form-control" required>
      </div>
    </div>

    <div class="form-group row mt-4">
      <label for="price" class="col-sm-2 col-form-label">Price(USD)</label>
      <div class="col-sm-10">
        <input type="number" id="price" name="price" class="form-control" required>
      </div>
    </div>

    <div class="form-group row mt-4">
      <label for="type" class="col-sm-2 col-form-label">Product Type</label>
      <div class="col-sm-10">
        <select id="type" name="type" class="form-control" required>
          <option value="">--Select--</option>
          <option value="Book">Book</option>
          <option value="DVDDisc">DVD</option>
          <option value="Furniture">Furniture</option>
        </select>
      </div>
    </div>

    <div id="additional-fields"></div>
  </form>
</div>
<script type="text/javascript" src="/js/add-product.min.js"></script>
