<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Welcome to the start page of my completed test task!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Here you will find the results of my work, where I applied my development skills and coding best practices to create a functional application. This assignment was carefully designed and implemented to demonstrate my skills in creating realistic and effective solutions.</p>
        <p class="lead mb-4">I am constantly learning and improving, so I am open to any of your feedback and suggestions. I hope you like my solution!</p>
        <p class="lead mb-4">Enjoy watching!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/products/list" class="btn btn-primary btn-lg px-4 gap-3">Open product list</a>
        </div>
    </div>
</div>